{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        },
        "modules": "commonjs"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [],
  "ignore": [
    "node_modules",
    "dist",
    "**/*.test.ts",
    "**/*.test.tsx",
    "**/*.spec.ts",
    "**/*.spec.tsx"
  ]
} 